/**
 *  Auth styles
 */

@import "../../styles/vendor/bootstrap/utils.scss";

/* -- Auth Form -- */
.auth-form {
  .form-group {
    .form-control {
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }

      &.is-invalid {
        background-image: none;
        padding-right: initial;
      }
    }

    .form-text {
      line-height: 1.2;
      font-size: 70%;
      margin-top: $grid-gutter-width/4;
    }
  }

  button[type="submit"][disabled] {
    cursor: not-allowed;
  }
}
