/**
 *  Navigation
 */

@import "../../styles/vendor/bootstrap/utils.scss";

$nav-height: 56px;
$nav-transition-duration: 0.3s;
$nav-brand-font-weight: 300;
$nav-shadow: 0 0 $grid-gutter-width/2 rgba(0, 0, 0, 0.3);
$nav-toggle-padding: 0.3rem;
$nav-toggle-gutter: $grid-gutter-width/2;
$nav-toggle-size: 1rem;
$nav-toggle-size-lg: 1.3rem;

.navigation {
  opacity: 0;
  transition: opacity $nav-transition-duration ease;

  &.in {
    opacity: 1;
  }

  .container-fluid {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    display: inline-flex;
    align-items: center;
    font-weight: $nav-brand-font-weight;
  }

  .nav-toggle {
    background: none;
    border: none;
    padding: $nav-toggle-padding;
    display: inline-block;
    cursor: pointer;

    &.nav-toggle-right,
    &.nav-toggle-left {
      position: absolute;
    }

    &.nav-toggle-right {
      right: $nav-toggle-gutter;
    }

    &.nav-toggle-left {
      left: $nav-toggle-gutter;
    }

    &.nav-toggle-lg {
      font-size: $nav-toggle-size-lg;
    }
  }

  .nav-link {
    .fa-xs {
      position: relative;
      top: -2px;
    }
  }

  &.navigation-shadow {
    box-shadow: 0 0 $nav-shadow;
  }
}

.navbar-is-fixed {
  padding-top: $nav-height;
}
