/**
 *  Auth styles
 */

@import "../../../styles/vendor/bootstrap/utils.scss";

.page-generic {
  main {
    .container {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
      padding-top: 40px;
    }
  }
}
