/**
 *  Preload
 */

@import "../../styles/vendor/bootstrap/utils.scss";

$preload-transition-duration: 0.3s;

.preload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: all $preload-transition-duration ease;
}
